// Colors
$purple: #051120;
$light-purple: #071528;
$background: #0c1b2f;
$lilac: #E683CE;
$text: #ECECEC;
$text-dark: #ACACAC;
$text-active: #d43eaf;
/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
/* img {
	display: block;
	width: 100%;
	height: auto;
} */
html {
	scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* Utility */
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background: $light-purple;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translate3d(0, 0, 0);
  transition: 0.1s all ease-out;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.67);
  .logo a{
		color: white;
		text-decoration: none;
		font-size: 2em;
		font-weight: 700;
		letter-spacing: 1px;
	}
}
.nav.nav-hidden {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 13%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: $text-dark;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 300;
	transition: all 0.3s ease-out;
	&:hover {
		color: $text;
	}
}
.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.hero {
	width: 100%;
	height: 91vh;
	position: relative;
	background-color: $purple;
	align-items: center;
}

.hero-image {
	background-image: url('../assets/images/science.png');
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.25;
	background-position: center center;
}

.hero-text {
	position: relative;
	color: $text;
	font-size: clamp(0.5rem, calc(5vw + 0.3rem), 2.5rem);
	p {
		font-weight: 300;
	}
}

.info-section {
	p {
		color: $text;
		font-weight: 200;
		line-height: 1.7em;
	}
	h1 {
		font-size: 3em;
		color: $text;
		position: relative;
		margin-top: 25px;
		&::before {
			position: absolute;
			width: 105%;
			content: '';
			left: 0;
			top: -20px;
			height: 1px;
			background-color: $lilac;
		}
	}
	padding: 5em 0;
	background-color: $light-purple;
	&.about-me {
		.left{
			flex-basis: 30%;
		}
		.right {
			flex-basis: 70%;
		} 
	}
	.freelancing-works {
		padding: 3em 0;
		flex-wrap: wrap;
		.card{
			@media(max-width: 600px) {
				flex-direction: column;
			}
			gap: 20px;
			&:not(:first-child) {
				margin-top: 5em;
			}
			&:nth-child(even) {
				flex-direction: row-reverse;
			}
			.left {
				flex: 1;
				img {
					border-radius: 20px;
					transition: all 0.2s ease-out;
					bottom: 0;
					position: relative;
					width: 100%;
				&:hover {
						bottom: 4px;
					}
				}
			}
			.right {
				flex: 1;
				justify-content: space-between;
				.links {
					justify-content: flex-end;
				}
				img {
					margin-right: 1em;
				}
			}
		}
	}
	.projects {
		margin-top: 20px;
		flex-wrap: wrap;
		gap: 20px;
		.card {
			background-color: $background;
			border-radius: 20px;
			color: $text;
			width: 100px;
			height: 300px;
			flex: 1 1 20em;
			box-shadow: 0px 0px 19px 9px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0px 0px 19px 9px rgba(0,0,0,0.2);
			flex-wrap: nowrap;
			.name {
				justify-content: flex-start;
				align-items: flex-start;
				margin: 12px;
				flex: 1;
			}
			.desc {
				align-items: center;
				margin: 12px;
				flex: 1;
			}
			.tech {
				justify-content: flex-start;
				align-items: flex-end;
				margin: 12px;
				flex: 1;
			}
		}
	}
}
